body {
    background: #272A2B;
    font-family: 'Source code pro';
}

.wrap {
    display: flex;
    justify-content: space-around;
}

.wrapper {
    width: 300px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 24px;
    overflow: auto;
    margin-bottom: 10px;
}

a {
    color: #666666;
}
