body {
    background: #272A2B;
    font-family: 'Source code pro';
}

.wrap {
    display: flex;
    justify-content: space-around;
}

.wrapper {
    width: 300px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 24px;
    overflow: auto;
    margin-bottom: 10px;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.picture {
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

.header {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 0;
}

.subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    margin-top: 0;
}

.paragraph {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    margin-top: 24px;
}

.post-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
